*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #0a0e13;;
}

header{
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.logo{
    display: flex;
}
nav{
    width: 100%;
    background-color: blanchedalmond;  
    display: flex;
    align-items: center;
    margin-top: 25px;
    
}


nav a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    
}
nav a:hover{
    background-color: aqua;
}
.container-main{
    width: 90%;
    height: auto;
    max-width: 1200px;
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
}
.articulo{
    width: 50%;
    color: wheat;
}
.articulo-text{
    background-color: #0f1519;
    border: solid goldenrod 1px;
    padding: 10px 15px;

}
.aside{
    width: 40%;
    height: auto;
    background-color: #0f1519;
    font-size: 19px;
    color: wheat;
    border: solid goldenrod 1px;

}


.aside  h2{
    font-size: 30px;
    margin-top: 15px;
    padding-left: 15px;
}
.aside p{
    margin-top: 30px;
    padding: 10px 15px;
}
footer {
    width: 90%;
    height: 50px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
}
footer a{
    color: white;
    text-decoration: none;

}

.container-skins{
    width: 90%;
    height: auto;
    margin: 150px auto;
    max-width: 1200px;
}
.container-skins h2{
    color: wheat;
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}
.skins{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container-yasuo{
    width: 30%;
    min-width: 200px;
}
.img-yasuo{
    width: 100%;
}
.img-yasuo img{
    height: 250px;
}
.text-yasuo{
    width: 100%;
    padding: 10px 25px;
    background-color: #0f1519;
    margin-top: 15px;
}
.text-yasuo h2{
    font-size: 30px;
    color: wheat;
    text-align: center;

}
.boton{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}
.boton a{
    padding: 10px 15px;
    background-color: cadetblue;
    color: wheat;
    text-decoration: none;
    font-size: 25px;
}
@media (max-width: 1000px)
{
.container-skins{
    width: 90%;
    
}
.skins{
    justify-content: space-between;
    width: 100%;
}
.img-yasuo img{
    width: 100%;
    height: 100%;
}
}
@media (max-width: 770px)
{
  .logo{
      justify-content: center;
  }  
 nav{
     display: none;
 }
 .container-main{
     flex-wrap: wrap;
    }
 .articulo{
     width: 100%;
 }

 .articulo-text{
     margin-top: 20px;
 }
 
 
 .aside{
     width: 100%;
     margin-top: 20px;
 }
 .skins{
     flex-wrap: wrap;
     justify-content: center;
 }
 .container-yasuo{
     width: 70%;
 }
 .text-yasuo{
     margin-top: 50px;

 }
 .img-yasuo{
     margin-top: 50px;
 }
}
@media (max-width:400px)
{
    .container-yasuo{
        width: 90%;
    }
}

